* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Exo 2", sans-serif;
  /*
    border: 1px solid black;
    */
}

body {
  background: linear-gradient(rgb(65, 219, 219), 25%,  rgb(167, 18, 99));
  color: black;
}

.container {
  width: 95%;
  text-align: center;
}

p, li, b, ul, span, h2{
    font-size: 1.8rem;
}

ul{
  list-style: none
}

.sillas{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

img{
    width: 70%;
}
span {
    text-decoration: underline;
}
.card1 {
  border-radius: 10px 0px 10px 0px;
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
  width: 95%;
  text-align: justify;
  margin-bottom: 30px;
}

.card1:hover {
  background: rgb(255, 255, 255, .8);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: translate(-2px, -2px);
}

.card2{
  border-radius: 10px 10px 10px 10px;
  width: 75%;
  text-align: justify;
  margin-bottom: 30px;
  border: 2px solid rgb(255, 255, 255);
  filter: grayscale(100%)
}

.card2:hover {
  transform: scale(1.10);
  filter:grayscale(0%)
}