* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  /*
    border: 1px solid black;
    */
}

body {
  background: linear-gradient(rgb(65, 219, 219), 25%, rgb(167, 18, 99));
  color: black; 
  margin-bottom: 50px;
}

.container {
  width: 95%;
  margin-top: 70px;
  text-align: center;
}

p,
li,
b,
ul,
span,
h2 {
  font-size: 1.8rem;
}

h2{
  margin-bottom: 20px;
}
.cinzel{
  font-family: 'Cinzel', serif;
  text-decoration: underline;
  font-weight: 900;
}

.pTSansNarrow{
  font-family: 'PT Sans Narrow', sans-serif;
}

.amatic{
  font-family: 'Amatic SC', cursive;
}

ul {
  list-style: none;
}

.sillas {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.telon {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

img {
  width: 70%;
}
span {
  text-decoration: underline;
}
.card1 {
  border-radius: 10px 0px 10px 0px;
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
  width: 95%;
  text-align: justify;
  margin-bottom: 30px;
}

.card1:hover {
  background: rgb(255, 255, 255, 0.8);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: translate(-2px, -2px);
}

.card2 {
  border-radius: 10px 10px 10px 10px;
  width: 75%;
  text-align: justify;
  margin-bottom: 30px;
  border: 2px solid rgb(255, 255, 255);
  /*filter: grayscale(100%);*/
}

.card2:hover {
  transform: scale(1.07);
  /*filter: grayscale(0%);*/
}

.pergamino{
  background-image: url("../assets/pergamino.jpg");
  text-align: center;
  padding: 25px;
  font-weight: 800;
  margin: 25px;
  border: 2px solid rgb(158, 163, 17);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.hastaPronto{
  color: rgb(225, 9, 207);
  font-weight: 800;
  text-align: center;
}