* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Exo 2", sans-serif;
  
    border: 1px solid black;
    
}

body {
  background: linear-gradient(rgb(186, 255, 252), rgb(255, 106, 203));
  color: black;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2px;
  text-align: center;
}

.container {
  width: 80%;
  text-align: center;
}

.card1 {
  border-radius: 10px 0px 10px 0px;
  font-size: 2.5rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 80%;
  text-align: justify;
}

.card1:hover {
  background: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: translate(-2px, -2px);
}
